.banner {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    border-radius: 1px;
}